<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" 
xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" 
id="io.cordova.myapp5f6ff1" 
version="1.0.0" 
xmlns:gap="http://phonegap.com/ns/1.0" 
xmlns="http://www.w3.org/ns/widgets" 
defaultlocale="en-US">
  <name>Jacob Speed Gauge</name>
  <description>Jacob's take on the speed gauge</description>
  <author email="jacob.young@digi.com">Jacob Young</author>
  <content src="index.html" />
  <access origin="*" />
  <vs:features />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.1" />
  <preference name="orientation" value="portrait" />
  <!-- Support for Cordova 5.0.0 plugin system -->
  <plugin name="cordova-plugin-whitelist" version="1" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <platform name="android">
    <icon src="res/icons/android/ic_launcher-hdpi.png" density="hdpi" />
    <icon src="res/icons/android/ic_launcher-mdpi.png" density="mdpi" />
    <icon src="res/icons/android/ic_launcher-xhdpi.png" density="xhdpi" />
    <icon src="res/icons/android/ic_launcher-xxhdpi.png" density="xxhdpi" />
    <icon src="res/icons/android/ic_launcher-xxxhdpi.png" density="xxxhdpi" />
  </platform>
</widget>