.picture {
    background: url(../images/runningman.png) no-repeat center top; 
    position: absolute;             
    left: 50%;
    top: 20%;
    height: 50px;                  
    width: 225px;                   
    padding: 180px 0px 0px 0px;     
    margin: -115px 0px 0px -112px;
}

.buttons {
     position: absolute;
     top: 40%;
     width: 320px;
     text-align: center;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
}

#help {
    position:absolute;
    bottom:0;
    left: 5px;
    font-size: 75%;
}

#about {
    position:absolute;
    bottom:0;
    right: 5px;
    font-size: 75%;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    left:49%;
    margin-left: -50%;
    bottom:0;
}
