.not-displayed {
    display: none;
}

h1 {
    position: relative;
    top: 20px;
    text-transform: uppercase;
    text-align: center;
}

#helpLink{
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 80%;
}

.ui-content {
    text-align: center;
}

form {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.fieldset-auto-width {
   position: relative;
   display: inline-block;
}

.time {
    position: relative;
    padding-top: 10px;
    left: -20px;
}

#pace {
   font-weight: bold;
   font-size: large;
   text-align: left;
}

#submit {
    position: relative;
    top: 10px;
}

#error-msg {
    position: relative;
    top: 10px;
    text-align: center;
    font-weight: bold;    
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:0;
}
