.not-displayed {
    display: none;
}

h1 {
    position: relative;
    top: 15px;
    text-transform: uppercase;
    text-align: center;
}

.ui-content {
    text-align: center;
}

form {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.fieldset-auto-width {
   display: inline-block;
}

.time {
   font-weight: bold;
   font-size:large;
}

#error-msg {
    text-align: center;
    font-weight: bold;    
}

#submit {
   left: 40%; 
   top: 25px;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:0;
}
